
.App {
  background-color:blue;
}

.description {
  background-image:url("../components/bg.jpg");
  color:white;
  display:inline-block;
  height:662px;                                                                                          
  width: 1000px;                                                   
}

.calendar {
  background-color:white;
  display:inline-block;
  vertical-align: top;
  width: 348px;
  height:662px;
}

.section_one h1 {
  text-decoration:overline;
  text-decoration-color:orange;
}

.subsection ul {
list-style-type:none;
}

i {
color:orange;
}

.august{
  text-align: center;
  color:darkred;
}